@model PizzaFormModel

<div class="container">
    <form asp-controller="Pizza" asp-action="Update" method="post" asp-route-id="@Model.Pizza.Id">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome pizza:</strong>
            <input asp-for="Pizza.Nome" class="d-block w-250" />
            <span asp-validation-for="Pizza.Nome" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Pizza.Descrizione" class="d-block w-250" />
            <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Pizza.Prezzo" class="d-block w-250" />
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <strong>Link Immagine:</strong>
            <input asp-for="Pizza.Img" class="d-block w-250" />
            <span asp-validation-for="Pizza.Img" class="text-danger"></span>

        </div>

        <select asp-for="Pizza.CategoryId">
            <option class="d-block w-250" value=""></option>
            @foreach (Category category in Model.Categories)
            {
                @if (Model.Pizza.CategoryId == category.Id)
                {
                    <option value="@category.Id" selected>@category.Nome</option>
                }
                else
                {
                    <option value="@category.Id">@category.Nome</option>
                }
            }
        </select>

        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <select asp-for="SelectedIngredients"
                    multiple="multiple"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                    asp-items="@Model.Ingredients">
            </select>
        </div>

        <div class="text-center pt-1">
            <input type="submit" class="btn btn-primary" value="Aggiorna la pizza">
        </div>

        
    </form>
</div>


